<button
  aria-controls="default-sidebar"
  type="button"
  (click)="onToggleSidebar()"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">{{
    isDrawerOpen ? "Close sidebar" : "Open sidebar"
  }}</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed z-10 top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
  [ngClass]="isDrawerOpen ? '-translate-x-0' : '-translate-x-full'"
>
  <div
    class="flex flex-col h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"
  >
    <button
      aria-controls="default-sidebar"
      type="button"
      (click)="onToggleSidebar()"
      class="flex align-right mb-2 self-end p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">{{
        isDrawerOpen ? "Close sidebar" : "Open sidebar"
      }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <ul class="space-y-2 flex-col">
      <li *ngFor="let menu of menus" class="flex-row">
        <a
          [routerLink]="menu.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <!--<hero-icon *ngIf="menu.icon" [name]="menu.icon"></hero-icon>-->
          <span class="ml-3 flex-grow">{{ menu.label }}</span>
        </a>
        <ul *ngIf="menu.submenus" class="flex-col">
          <li *ngFor="let submenu of menu.submenus" class="flex-row">
            <a
              [routerLink]="submenu.link"
              routerLinkActive="active"
              class="flex flex-grow items-center ml-4 mt-2 p-2 text-base font-normal rounded-lg text-gray-900 dark:text-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <!--<hero-icon *ngIf="submenu.icon" [name]="submenu.icon"></hero-icon>-->
              <span class="ml-3 flex-grow">{{ submenu.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="flex items-end grow">
      <div class="flex flex-row grow items-stretch p-2">
        <a
          class="inline-flex grow p-2 rounded-lg text-base text-gray-900 dark:text-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-700"
          [routerLink]="userMenu.link"
          routerLinkActive="active"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 mr-1"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>

          {{ userMenu.label }}
        </a>
        <button
          class="p-2 ml-2 rounded-lg text-base text-gray-900 dark:text-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-700"
          (click)="onSignOut()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</aside>
<div
  class="absolute block w-full h-full z-0 left-0 top-0 bg-black opacity-40"
  [ngClass]="isDrawerOpen ? 'block' : 'hidden'"
  (click)="onToggleSidebar()"
></div>
