<button
  aria-controls="default-sidebar"
  type="button"
  (click)="onToggleSidebar()"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">{{
    isDrawerOpen ? "Close sidebar" : "Open sidebar"
  }}</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed z-10 top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
  [ngClass]="isDrawerOpen ? '-translate-x-0' : '-translate-x-full'"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <button
      aria-controls="default-sidebar"
      type="button"
      (click)="onToggleSidebar()"
      class="flex align-right mb-2 self-end p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">{{
        isDrawerOpen ? "Close sidebar" : "Open sidebar"
      }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <ul class="space-y-2">
      <li *ngFor="let menu of menus">
        <a
          [routerLink]="menu.link"
          routerLinkActive="active"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <hero-icon *ngIf="menu.icon" [name]="menu.icon"></hero-icon>
          <span class="ml-3">{{ menu.label }}</span>
        </a>
        <ul *ngIf="menu.submenus">
          <li *ngFor="let submenu of menu.submenus">{{ submenu.label }}</li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<div
  class="absolute block w-full h-full z-0 left-0 top-0 bg-black opacity-40"
  [ngClass]="isDrawerOpen ? 'block' : 'hidden'"
  (click)="onToggleSidebar()"
></div>
