<div class="container mx-auto px-4 mt-1">
  <form #todoForm="ngForm" (ngSubmit)="onAddItem()" class="bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 flex justify-start items-center w-full">
    <div class="inline-flex mr-1 grow">
      <input required class="form-input grow rounded bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-200" type="text" id="itemName" [(ngModel)]="item.name" name="name" placeholder="Add item">
    </div>
    <div class="inline-flex mr-1 flex-none">
      <input class="form-input bg-white dark:bg-slate-800 text-slate-600 dark:text-slate-200 rounded" #dateSelector type="date" id="itemDueAt" [(ngModel)]="item.dueAt" name="dueAt" placeholder="Due date">
    </div>
    <div class="inline-flex mr-1 flex-none">
      <button [disabled]="!todoForm.valid" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">
        {{isEditMode ? 'Update' : 'Add'}}
      </button>
    </div>
  </form>

</div>
