<div
  [ngClass]="showLists ? 'flex' : 'hidden'"
  class="container mx-auto px-4 mt-1 flex-wrap"
>
  <div
    *ngFor="let list of activeLists; let i = index"
    class="grid aspect-square hover:cursor-pointer hover:shadow-lg transition-shadow justify-items-stretch flex-col w-4/12 p-4 rounded shadow-md bg-white mr-4 mb-4 dark:bg-slate-800"
  >
    <div class="flex justify-self-start self-start">
      <span class="rounded-lg text-xs bg-blue-400 text-white px-2 py-0.5">
        {{ user.uid === list.ownedByUserId ? "Owned" : "Shared" }}
      </span>
    </div>

    <div
      class="flex justify-self-center self-center"
      (click)="onNavigateToList(list.id)"
    >
      <h2 class="text-slate-600 font-bold text-lg">
        {{ list.name }}
      </h2>
      <button class="ml-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
    <p *ngIf="list?.items" class="text-slate-500 italic text-sm">
      This list contains
      {{
        list.items.length > 0
          ? list.items.length > 1
            ? list.items.length + " items"
            : list.items.length + " item"
          : " no item"
      }}
    </p>
    <app-list-add
      [visible]="false"
      [isEditMode]="true"
      [list]="list"
      [layout]="'vertical'"
      (listAdded)="onToggleListAdd()"
    ></app-list-add>
    <div
      *ngIf="user.uid === list.ownedByUserId"
      class="self-end justify-self-end"
    >
      <button class="mr-4" (click)="onEditList(list.id)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
          />
        </svg>
      </button>
      <button (click)="onArchiveList(list.id)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    class="flex aspect-square hover:cursor-pointer hover:shadow-lg transition-shadow items-center justify-center flex-col w-4/12 p-4 rounded shadow-md bg-white mr-4 mb-4 dark:bg-slate-800"
  >
    <h2
      *ngIf="!showListAdd"
      class="text-blue-600 flex font-bold text-md"
      (click)="onToggleListAdd()"
    >
      <span class="flex-inline">
        <svg
          class="mr-1 w-6 h-6 flex-inline"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </span>

      <span class="flex-inline">Add new</span>
    </h2>

    <app-list-add
      [visible]="showListAdd"
      [layout]="'vertical'"
      (listAdded)="onToggleListAdd($event)"
    ></app-list-add>
    <button (click)="onToggleListAdd()" *ngIf="showListAdd">Cancel</button>
  </div>
</div>
